.container {
    width: 100%;
    display: flex;
    text-align: center;
}

.productList {
    min-height: 100px;
    border: 1px solid;
    width: 60%;
}

.basket {
    min-height: 100px;
    border: 1px solid;
    width: 40%;
}

img {
    width: 180px;
    height: 220px;
    border: 3px solid;
}

.selected {
    opacity: 0 6;
}
